# Эксперимент

## Импорт модулей

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
%load_ext autoreload

In [3]:
from model import RegressionModel
# %aimport model

In [4]:
%autoreload 2

## Подготовка данных

In [5]:
data = pd.read_csv('regression.csv')

In [6]:
data.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9,Y
0,0,0.032878,-0.032184,0.027755,0.162163,-0.027748,-0.036926,0.089348,-0.149173,-0.098144,0.013718,3.257643
1,1,-0.005346,-0.000247,0.009756,-0.036532,0.000057,0.034341,-0.060020,0.016123,0.087476,-0.030907,0.923062
2,2,0.015212,-0.023700,0.145926,-0.097527,0.104163,0.088088,0.066595,-0.003328,0.082527,0.054497,11.204583
3,3,0.017769,0.121157,0.143435,-0.141992,0.037391,0.049239,-0.102537,0.032538,-0.082095,-0.053016,9.166070
4,4,-0.111732,0.056233,0.045675,-0.036601,0.109740,-0.109546,-0.010672,-0.053661,0.039932,-0.048394,-0.211321

In [7]:
data.columns

Index(['Unnamed: 0', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'Y'], dtype='object')

In [8]:
data.drop(columns='Unnamed: 0', inplace=True)

In [9]:
data.head()

,0,1,2,3,4,5,6,7,8,9,Y
0,0.032878,-0.032184,0.027755,0.162163,-0.027748,-0.036926,0.089348,-0.149173,-0.098144,0.013718,3.257643
1,-0.005346,-0.000247,0.009756,-0.036532,0.000057,0.034341,-0.060020,0.016123,0.087476,-0.030907,0.923062
2,0.015212,-0.023700,0.145926,-0.097527,0.104163,0.088088,0.066595,-0.003328,0.082527,0.054497,11.204583
3,0.017769,0.121157,0.143435,-0.141992,0.037391,0.049239,-0.102537,0.032538,-0.082095,-0.053016,9.166070
4,-0.111732,0.056233,0.045675,-0.036601,0.109740,-0.109546,-0.010672,-0.053661,0.039932,-0.048394,-0.211321

In [10]:
data.shape

(1000, 11)

In [11]:
X = np.array(data.loc[:, :'Y'])
y = np.array(data.loc[:, 'Y'])

In [12]:
y.shape

(1000,)

## Разбиение выборки на обучение и тест

In [23]:
X_train, X_test, \
y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=12)

In [24]:
y_train.shape

(600,)

In [25]:
y_test.shape

(400,)

In [26]:
X_train.shape

(600, 11)

In [27]:
np.savetxt('X_train', X_train)
np.savetxt('X_test', X_test)
np.savetxt('y_train', y_train)
# np.savetxt('y_test', y_test)

## Обучение

In [28]:
%run -i regression_fit.py 'X_train' 'y_train' 'regression_model.pkl'

## Предсказание

In [29]:
%run -i regression_predict.py 'X_test' 'regression_model.pkl'

In [30]:
from sklearn.metrics import r2_score

In [31]:
y_predicted = np.loadtxt('result.txt')

In [32]:
print('R^2 = {}'.format(r2_score(y_test, y_predicted)))

R^2 = 1.0